
.start{
    position: relative;
    top: 100px;
    left: 3px;
    border-radius: 40%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(0, 0, 0);
    color: rgb(112, 114, 112);
    padding: 45px;
    font-family:Arial, Helvetica, sans-serif;
}

.caixa1{
    position: relative;
    border: 2px solid black;
    border-radius: 25%;
    left: 50px;
}
img{
    position: relative;
    width: 80px;
    right: 100px;
    padding-bottom: 40px;

}