
.start{
    position: relative;
    top: 150px;
    left: 3px;
    border-radius: 40%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(0, 0, 0);
    color: rgb(112, 114, 112);
    padding: 45px;
    font-family:Arial, Helvetica, sans-serif;
}

.caixa1{
    position: relative;
    border: 2px solid black;
    justify-content: center;
    border-radius: 25%;
    top: 30px;
    left: 160px;
}
img{
    position: relative;
    max-width: 300px;
    max-height: 250px;
    width: auto;
    height: auto;
    padding: 40px;
    right: 20px;
}
.next{
    top: 100px;
    right: 170px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
