h1{
    color:  black;
}
.start{
    position: relative;
    top: 40px;
    border-radius: 40%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(0, 0, 0);
    color: rgb(112, 114, 112);
    padding: 45px;
}

.caixa1{
    position: relative;
    border: 2px solid black;
    border-radius: 25%;
}