
.start{
    position: relative;
    top: 150px;
    left: 3px;
    border-radius: 40%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(0, 0, 0);
    color: rgb(112, 114, 112);
    padding: 45px;
    font-family:Arial, Helvetica, sans-serif;
}

.caixa1{
    position: relative;
    border: 2px solid black;
    justify-content: center;
    border-radius: 25%;
    top: 30px;
    left: 160px;
}
img{
    position: relative;
    max-width: 300px;
    max-height: 250px;
    width: auto;
    height: auto;
    padding: 40px;
    right: 20px;
}
.next{
    top: 100px;
    right: 170px;
    border: 20px black;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.estilos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estilos_jogo{
    position: relative;
    top:50px;
    right: 30%;
    border: none;
    background: none;
    font-size: x-large;

}
.tradicional{
    position: relative;
    top: 50px;
    left: 30%;
    border: none;
    background: none;
    font-size: x-large;
}
.tradutor{
    position: relative;
    top: 50px;
    right: 10%;
    border: none;
    background: none;
    font-size: x-large;
}
.tradutor:hover{
    color: brown;
}
.tradicional:hover{
    color: brown;
}
.estilos_jogo:hover{
    color: brown;
}