.linkHome{
    padding: 5px;
    top: 0%;
    margin: auto;
    left: 0%;
}
.linkJapones{
    padding: 5px;
    position: relative;
    top: 0%;
    margin: auto;
    left: 5%;
}
.linkIngles{
    padding: 5px;
    top: 0%;
    margin-left: 10%;
    filter: opacity(70);
}
a{
    font-weight: 500;
    color: #fafafa;
    text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

