.linkHome{
    top: 0%;
    margin: auto;
    left: 0%;
}
.linkJapones{
    position: relative;
    top: 0%;
    margin: auto;
    left: 8%;
}
.linkIngles{
    top: 0%;
    margin-left: 16%;
    filter: opacity(70);
    
}
a{
    font-weight: 700;
    color: #050505;
    font-size: 15px;
    text-decoration: inherit;
    
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #5961f5;
    }
    button {
      background-color: #f9f9f9;
    }
  }

