#root {
  max-width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.caixap{
  position: relative;
  left: 60px;
  top: 30px;
  filter: opacity(85%);
  border-radius: 10%;
  width: 90%;
  height: 500px;
}




