#root {
  max-width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.caixap{
  position: relative;
  left: 60px;
  top: 30px;
  filter: opacity(75%);
  border-radius: 10%;
  width: 90%;
  height: 500px;
}




