.linkHome{
    padding: 5px;
    top: 0%;
    margin: auto;
    left: 0%;
}
.linkJapones{
    padding: 5px;
    position: relative;
    top: 0%;
    margin: auto;
    left: 5%;
}
.linkIngles{
    padding: 5px;
    top: 0%;
    margin-left: 10%;
    filter: opacity(70);
}

